<!doctype html>
<html>
<head>
    <title>login</title>
</head>

<body>
<h1>Express Template</h1>
<h3>1<sub>st</sub> Page login</h3>
<div>
    <label>Email <input type="text"></label>
    <label>Password <input type="password"></label>

</div>
<a href="/signUp">Sign up page</a>

</body>
</html>