<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>signUp</title>
</head>

<body>
<h1>Express Template</h1>
<h3>1<sub>st</sub> Page signUp</h3>
<div>
    <form action="/saveUser" method="post" id="user_save">
        <label>Email <input type="text" name="email"></label>
        <label>Password <input type="password" name="password"></label>
        <input type="submit" value="Save">
    </form>
</div>
<a href="/login">login page</a>
</body>
</html>